# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.build/
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
